* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: linear-gradient(
    135deg,
    #141e30,
    #243b55
  );
  min-height: 100vh;
}

/* BUTTON */

button {
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background: #5b8cff;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

/* INPUT */

input,
select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 250px;
}

/* GLASS */

.glass {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.3);
}